# General trash
*.bin
*.idea
*.o
*.mod
*.pytest_cache
*__pycache__*
*.DS_Store*
*.dirstamp


# Unwanted filetypes: 
*.pdf 
*.txt
*slurm*
*.Po


# Some directories
*DATABASES_MPI*
specfem_mesh/ensight/*
specfem_mesh/plot_modes/*.txt
specfem_mesh/plot_modes/modes/*.txt
databases/*
databases/*
get_mode/*


# AC generated stuff: 
traces.* 
output.*
specfem_mesh/tests/autom4te* 
specfem_mesh/Makefile 
*Makefile.in
specfem_mesh/*configure
specfem_mesh/AUTHORS
specfem_mesh/README
specfem_mesh/ChangeLog
specfem_mesh/INSTALL
specfem_mesh/Makefile.in
specfem_mesh/aclocal.m4
specfem_mesh/autom4te.cache/*
specfem_mesh/*config.log
specfem_mesh/*config.status
specfem_mesh/*depcomp
specfem_mesh/*install-sh
specfem_mesh/*NEWS
specfem_mesh/*COPYING
specfem_mesh/*missing
specfem_mesh/*fort.*



# Test files: 
specfem_mesh/tests/*/*.txt
specfem_mesh/tests/*/*/*.txt
specfem_mesh/tests/*.pdf
specfem_mesh/tests/spline/*.pdf
specfem_mesh/tests/v_ani_matrix/*.pdf

# Executables: 
integrate_mesh
read_mesh
split_mesh
configure 
kdtree
plot_vani
specfem_mesh/tests/test_1_integration
specfem_mesh/tests/test_3j
specfem_mesh/tests/test_cst_to_mat
specfem_mesh/tests/test_mode_norm
specfem_mesh/tests/test_plm_function
specfem_mesh/tests/test_wrot
specfem_mesh/tests/test_spline
specfem_mesh/tests/test_tromp1995
specfem_mesh/tests/test_vani_diag
specfem_mesh/tests/test_vani_fast
specfem_mesh/tests/test_xlm
specfem_mesh/tests/test_wstored
specfem_mesh/tests/test_ylm_values
specfem_mesh/tests/test_ylm_integration
specfem_mesh/tests/test_ylm_function
specfem_mesh/tests/test_plm_values
specfem_mesh/tests/test_plm_function
specfem_mesh/tests/rotation_semi