# General trash
*.bin
*.idea
*.o
*.mod
*.pytest_cache
*__pycache__*
*.DS_Store*

# Some directories
*DATABASES_MPI*
specfem_mesh/ensight/*
specfem_mesh/plot_modes/*.txt
specfem_mesh/plot_modes/modes/*.txt
databases/*
databases/*
get_mode/*


# Executables: 
integrate_mesh
read_mesh
split_mesh

